# Config files
config/llm_env.yml
config/config_default.yml

# Python files
*.pyc
__pycache__/

# VSCode settings
.vscode/

# Python virtual environment
.venv/
config/config_anthropic.yml
config/config_airline_gemini.yml
